					<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Get in touch</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="email" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" placeholder="Message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send" class="primary" /></li>
									</ul>
								</form>
							</section>
							<section>
								<h2>Follow</h2>
								<ul class="icons">
								<!-- social buttons -->
									<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
									<li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
									
								  {% if site.telphone %}
								  <li>
								  <a href="tel:{{site.telphone}}" class="icon solid style2 fa-phone"><span class="label">Phone: {{site.telphone}}</span></a>
								  </li>
								  {% endif %}

								  {% if site.email %}
								  <li>
								  <a href="mailto:{{site.email}}" class="icon solid style2 fa-envelope"><span class="label">Phone: {{site.email}}</span></a>
								  </li>
								  {% endif %}

								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; {{ site.time | date: '%Y' }} HINGTAK PRODUCTS LLC. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>
			
			<!-- Scripts -->
			<script src="{{ site.url }}/assets/js2/jquery.min.js"></script>
			<script src="{{ site.url }}/assets/js2/browser.min.js"></script>
			<script src="{{ site.url }}/assets/js2/breakpoints.min.js"></script>
			<script src="{{ site.url }}/assets/js2/util.js"></script>
			<script src="{{ site.url }}/assets/js2/main.js"></script>

	</body>
</html>