					<!-- Footer -->
					<footer id="footer">
						<div class="container">	
							<p><a href="/">Home</a> | <a href="/about.html">About</a> | <a href="/contact.html">Contact</a> | <a href="/term.html">Term</a> |  <a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p>
							<p>
								Mobile: (+86)137-2586-0789<br/>
								E-mail: sales@hingtak.com<br/>
							</p>
							<p class="rss-subscribe">&copy; {{ site.time | date: '%Y' }}.  HINGTAK PRODUCTS LLC. All rights reserved. </p>
						</div>
					</footer>

