
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="copyright">
								<li>&copy; {{ site.time | date: '%Y' }} HINGTAK PRODUCTS LLC. All rights reserved</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{ site.url }}/assets/js/jquery.min.js"></script>
			<script src="{{ site.url }}/assets/js/browser.min.js"></script>
			<script src="{{ site.url }}/assets/js/breakpoints.min.js"></script>
			<script src="{{ site.url }}/assets/js/util.js"></script>
			<script src="{{ site.url }}/assets/js/main.js"></script>

	</body>
</html>