					<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="{{ site.url }}/index.html">Home</a></li>
							<li><a href="{{ site.url }}/category/wire-cable.html">Wire & Cable</a></li>
							<li><a href="{{ site.url }}/category/housing-terminal.html">Housing & Terminal</a></li>
							<li><a href="{{ site.url }}/category/wire-harness.html">Wire harness</a></li>
							<li><a href="{{ site.url }}/category/elements.html">Elements4</a></li>

						{% comment %}
							The code below dynamically generates a sidebar nav of pages with
							`layout: page` in the front-matter. See readme for usage.
						  {% endcomment %}

						{% assign pages_list = site.pages %}
						  {% for node in pages_list %}
							{% if node.title != null %}
							  {% if node.layout == "page" %}
								<li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
								  <a href="{{ node.url }}">{{ node.title }}</a>
								</li>
							  {% endif %}
							{% endif %}
						  {% endfor %}
						</ul>

					</nav>