<!-- home 2021/04/05 -->
{% include header.html %}
					<div id="main">
					<div class="inner">
							<header>
								<h1>Category: {{ page.title }}</h1>
								<p>{{ page.excerpt }}</p>
							</header>
							<div class="box alt">
							<div class="row gtr-uniform">

							{% for post in site.categories[page.category] %}
							<div class="col-4"><span class="image fit"><img src="{{ site.url }}/{{ post.small_img }}" alt="" /></span><a href="{{ post.url }}">{{ post.title }}</a></div>
							<!-- Tags: {{ post.tags | join: ", " }} -->
							{% endfor %}
							</div></div>
					</div></div>
{% include footer.html %}