{% include header.html %}

				<!-- Main -->
					<div id="main">
						{% for post in site.posts %}
						{% if post.is_home %}
						<article class="thumb">
							<a href="{{ site.url }}/{{ post.small_img }}" class="image"><img src="{{ site.url }}/{{ post.small_img }}" alt="" /></a>
							<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
							<p>{{ post.summary }}</p><p> {{ post.description }}</p>
						</article>
						{% endif %}
						{% endfor %}
					</div>


{% include footer.html %}